---
import GetWork from "../../components/GetWork.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const meta = "عمر محمد Omar Mohammad designs, researches, and works with Afghan & Islamic culture: architecture, materials, symbols, technology, and love."
import image from "../../images/me.jpg"

export async function getStaticPaths() {
  const allPosts = await getCollection("work");

  const uniqueTags = [
    ...new Set(allPosts.map((post: any) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post: any) =>
  post.data.tags?.includes(tag)
);

filteredPosts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime(); // Convert to timestamp
  const dateB = new Date(b.data.pubDate).getTime(); // Convert to timestamp

  return dateB - dateA; // Subtracting timestamps is valid
});
---

<style>
  .container {
    margin-left: var(--m-1);
  }
  a:hover {
    text-decoration: underline;
  }
  p {
    font-weight: bold;
  }
  a {
    text-decoration: none;
    font-weight: normal;
  }
</style>

<BaseLayout title={tag} description={meta} image={image.src}>
  <div class="container">
    <p>
      [{tag}] <a href="/index">[list]</a>
    </p>
    <ul>
      <GetWork posts={filteredPosts} />
    </ul>
  </div>
</BaseLayout>
