---
import GetWork from "../components/GetWork.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "";
const meta = "عمر محمد Omar Mohammad designs, researches, and works with Afghan & Islamic culture: architecture, materials, symbols, technology, and love. Artifacts manifest themselves as archives, graphics, exhibitions, publications, objects, and software. These artifacts are designed to define historical pasts and propose speculative futures. He teaches design at the California College of the Arts, designed at cultural institutions such as the San Francisco Museum of Modern Art, and studied design at UC Davis. He is currently a graduate student pursuing a Master of Design at the UC Berkeley College of Environmental Design."
const image = "../images/me.png"
import { getCollection } from "astro:content";
const allWork = await getCollection("work");

allWork.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime(); // Convert to timestamp
  const dateB = new Date(b.data.pubDate).getTime(); // Convert to timestamp

  return dateB - dateA; // Subtracting timestamps is valid
});
---

<style>
  div {
    margin-left: var(--m-1);
  }
  a {
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
</style>

<BaseLayout title={title} description={meta} image={image}>
  <div>
    <!-- <GetWork posts={allWork} /> -->
    <ul>
      {
        allWork.map((post: any) => (
          <li>
            <a href={`/work/${post.id}/`}>
              {" "}
              {post.data.description}{" "}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
