---
import GetWork from "../components/GetWork.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "";
const meta = "عمر محمد Omar Mohammad designs, researches, and works with Afghan & Islamic culture: architecture, materials, symbols, technology, and love."
import image from "../images/me.png"
import { getCollection } from "astro:content";
const allWork = await getCollection("work");

allWork.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime(); // Convert to timestamp
  const dateB = new Date(b.data.pubDate).getTime(); // Convert to timestamp

  return dateB - dateA; // Subtracting timestamps is valid
});
---

<style>
  div {
    margin-left: var(--m-1);
  }
  a {
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
</style>

<BaseLayout title={title} description={meta} image={image.src}>
  <div>
    <!-- <GetWork posts={allWork} /> -->
    <ul>
      {
        allWork.map((post: any) => (
          <li>
            <a href={`/work/${post.id}/`}>
              {" "}
              {post.data.description}{" "}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
