---
import GetWork from "../components/GetWork.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
const title = "";
const meta =
  "عمر محمد Omar Mohammad designs, researches, and works with Afghan & Islamic culture: architecture, materials, symbols, technology, and love.";
import image from "../images/me.jpg";
import { getCollection } from "astro:content";
const allWork = await getCollection("work");

allWork.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime(); // Convert to timestamp
  const dateB = new Date(b.data.pubDate).getTime(); // Convert to timestamp

  return dateB - dateA; // Subtracting timestamps is valid
});
---

<style>
  ul {
    margin-left: var(--m-1);
    margin-right: var(--m-1);
  }

  li {
    display: flex;
    align-items: center;
    gap: var(--m-4);
    margin-bottom: var(--m-2);
  }
  a {
    display: inline-block; /* Prevents full-width stretching */
    max-width: fit-content; /* Ensures it only takes up necessary space */
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  img {
    width: 36px;
    aspect-ratio: 1 / 1; /* Maintain a square shape */
    object-fit: cover; /* Ensures the image covers the entire square */
    display: block;
  }
</style>

<BaseLayout title={title} description={meta} image={image.src}>
  <ul>
    {
      allWork.map((post: any) => (
        <li>
          <a href={`/work/${post.id}/`}>
            <Image
              src={post.data.image}
              alt={post.data.imgAlt}
            />
          </a>
          <a href={`/work/${post.id}/`}>{post.data.description}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
