---
import { Image } from "astro:assets";
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
---

<style>
  .frontMatter {
    position: sticky;
    top: var(--m-1);
    margin-left: var(--m-1);
    z-index: 2;
  }
  a {
    text-decoration: underline;
  }
  img {
    width: 100vw;
    height: auto;
    z-index: 1;
    margin-top: -108px; /* Push the image up by 10px */
  }

  @media (max-width: 1172px) {
    .frontMatter {
      position: relative;
      top: 0px;
    }
    img {
      margin-top: var(--m-1);
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: var(--m-2);
  }
  li {
    margin-right: 4px;
  }
  p {
    font-weight: bold;
  }
  .mdContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: var(--m-2);
    margin-bottom: var(--m-1);
    z-index: 1;
  }
  @media (max-width: 1172px) {
    .mdContainer {
      margin: var(--m-1);
    }
  }
  .md {
    display: flex;
    flex-direction: column;
    max-width: var(--maxWidth);
  }
  /* General Styles */
  @media (max-width: 1172px) {
    .container {
      display: flex;
      flex-direction: column;
      z-index: 1;
    }
    /* Make the container a flex container with column direction */
    .mdContainer {
      margin-top: var(--m-2);
      order: 3; /* Frontmatter comes after the image */
    }

    .frontMatter {
      margin-top: var(--m-1);
      order: 2; /* Frontmatter comes after the image */
    }

    img {
      order: 1; /* Image comes first on mobile */
      margin-top: var(--m-2);
      width: 100%;
      height: auto;
    }
  }
</style>

<BaseLayout
  title={frontmatter.description}
  description={frontmatter.meta}
  image={frontmatter.image.src}
/>
<header class="container">
  <div class="frontMatter">
    <ul>
      <li>{frontmatter.title}</li>
      {
        frontmatter.tags.map((tag: any, index: number) => (
          <li>
            <a href={`/index/${tag}`}>[{tag}]</a>
          </li>
        ))
      }
      <!-- <li>{new Date(frontmatter.pubDate).getFullYear()}</li> -->
    </ul>
    <p>{frontmatter.description}</p>
    <a href={frontmatter.link} target="_blank">
      {new URL(frontmatter.link).hostname}</a
    >
  </div>
  <Image
    src={frontmatter.image}
    alt="A model of the Senj wood framing technique."
  />
  <div class="mdContainer">
    <article class="md">
      <slot />
    </article>
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Select all anchor tags
    const anchorTags = document.querySelectorAll(".md a");

    anchorTags.forEach((anchor) => {
      const href = anchor.getAttribute("href");

      // Skip anchor links (e.g., href="#some-id")
      if (href && !href.startsWith("#")) {
        anchor.setAttribute("target", "_blank");
        anchor.setAttribute("rel", "noopener noreferrer");
      }
    });
  });
</script>
