---
import { Image } from "astro:assets";
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
---

<style>
  .frontMatter {
    position: sticky;
    top: var(--m-1);
    margin-left: var(--m-1);
    z-index: 2;
  }
  a {
    text-decoration: underline;
  }
  img {
    width: 100vw;
    height: auto;
    z-index: 1;
    margin-top: -108px; /* Push the image up by 10px */
  }
  @media (max-width: 1172px) {
    .frontMatter {
      position: relative;
      top: 0px;
    }
    img {
      margin-top: var(--m-1);
    }
  }
  ul {
    display: flex;
    list-style: none;
    margin-bottom: var(--m-2);
  }
  li {
    margin-right: 4px;
  }

  p {
    font-weight: bold;
  }
  .mdContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: var(--m-1);
  }
  @media (max-width: 1172px) {
    .mdContainer {
      margin: var(--m-1);
    }
  }
  .md {
    display: flex;
    justify-content: left;
    flex-direction: column;
    max-width: var(--maxWidth);
  }
</style>

<BaseLayout>
  <div class="container">
    <div class="frontMatter">
      <ul>
        <li>{frontmatter.title}</li>
        {
          frontmatter.tags.map((tag: any, index: number) => (
            <li>
              <a href={`/index/${tag}`}>[{tag}]</a>
            </li>
          ))
        }
        <li>{new Date(frontmatter.pubDate).getFullYear()}</li>
      </ul>
      <p>{frontmatter.description}</p>
      <a href={frontmatter.link} target="_blank">
        {new URL(frontmatter.link).hostname}</a
      >
    </div>
    <Image
      src={frontmatter.image}
      alt="A model of the Senj wood framing technique."
    />
    <div class="mdContainer">
      <div class="md">
        <slot />
      </div>
    </div>
  </div>
</BaseLayout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Select all links under elements with the class '.md', excluding those inside 'sup' tags
    document.querySelectorAll('.md a:not(sup a)').forEach(link => {
      link.setAttribute('target', '_blank');
      link.setAttribute('rel', 'noopener noreferrer'); // For security reasons
    });

    // Select all links under elements with the class 'footnotes', excluding those with 'data-footnote-backref' class
    document.querySelectorAll('.footnotes a:not(.data-footnote-backref)').forEach(link => {
      link.setAttribute('target', '_blank');
      link.setAttribute('rel', 'noopener noreferrer'); // For security reasons
    });
  });
</script>

