---
import { Image } from "astro:assets";
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
---

<style>
  .frontMatter {
    position: sticky;
    display: block;
    top: var(--m-1);
    margin-left: var(--m-1);
    z-index: 2;
  }
  @media (max-width: 1172px) {
   .frontMatter {
    position: relative;
    top: 0;

   }
  }
  .link-container {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--m-2);
    align-items: flex-start; /* Prevent stretching to container width */
  }
  a {
    display: inline-block; /* Ensures the anchor size matches its content */
    text-decoration: underline;
    padding: 0; /* Remove any unnecessary padding */
    margin: 0; /* Remove unnecessary margins */
  }
  img {
    width: 100vw;
    height: auto;
    margin: var(--m-2);
    z-index: 1;

  }
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: var(--m-2);
  }
  li {
    margin-right: 4px;
  }
  p {
    font-weight: bold;
  }
  .mdContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: var(--m-2);
    margin-bottom: var(--m-1);
    z-index: 1;
  }
  @media (max-width: 1172px) {
    .mdContainer {
      margin: var(--m-1);
    }

  }
  .md {
    display: flex;
    flex-direction: column;
    max-width: var(--maxWidth);
  }
  @media (max-width: 1172px) {
    .container {
      display: flex;
      flex-direction: column;
      z-index: 1;
    }
  }
</style>

<BaseLayout
  title={frontmatter.description}
  description={frontmatter.meta}
  image={frontmatter.image.src}
/>
<header class="container">
  <div class="frontMatter">
    <ul>
      <li>{frontmatter.title}</li>
      {
        frontmatter.tags.map((tag: any, index: number) => (
          <li>
            <a href={`/index/${tag}`}>[{tag}]</a>
          </li>
        ))
      }
      <!-- <li>{new Date(frontmatter.pubDate).getFullYear()}</li> -->
    </ul>
    <p>{frontmatter.description}</p>
    <div class="link-container">
      {
        frontmatter.links.map((link: any, index: number) => (
          <a href={link} target="_blank" rel="noopener noreferrer">
            {new URL(link).hostname}
          </a>
        ))
      }
    </div>
    <div>
      <a href="/">[back]</a>
    </div>
  </div>
  <div class="mdContainer">
    <Image
      src={frontmatter.image}
      alt="A model of the Senj wood framing technique."
    />
    <article class="md">
      <slot />
    </article>
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Select all anchor tags
    const anchorTags = document.querySelectorAll(".md a");

    anchorTags.forEach((anchor) => {
      const href = anchor.getAttribute("href");

      // Skip anchor links (e.g., href="#some-id")
      if (href && !href.startsWith("#")) {
        anchor.setAttribute("target", "_blank");
        anchor.setAttribute("rel", "noopener noreferrer");
      }
    });
  });
</script>
